[submodule "zoe2_sensors/vectornav"]
	path = zoe2_sensors/vectornav
	url = git@github.com:PlanetaryRobotics/vectornav.git
	branch = ros2
[submodule "zoe2_odom/robot_localization"]
	path = zoe2_odom/robot_localization
	url = git@github.com:PlanetaryRobotics/robot_localization.git
	branch = jazzy-devel
