<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="zoe2">

  <!-- Use this if parameters are set from the launch file, otherwise delete -->
  <xacro:arg name="prefix" default="" />

  <xacro:arg name="use_mock_hardware" default="false" />
  <xacro:arg name="mock_sensor_commands" default="false" />
  <xacro:arg name="sim_gazebo_classic" default="false" />
  <xacro:arg name="sim_gazebo" default="false" />
  <xacro:arg name="simulation_controllers" default="$(find zoe2_bringup)/config/zoe2_sim_controllers.yaml" />
  <xacro:arg name="lock_front_yaw" default="false" />
  <xacro:arg name="lock_front_roll" default="false" />
  <xacro:arg name="lock_back_yaw" default="false" />

  <xacro:include filename="$(find zoe2_description)/urdf/zoe2/zoe2_macro.xacro"/>
  <xacro:include filename="$(find zoe2_description)/urdf/zoe2/zoe2_macro.ros2_control.xacro"/>

  <!-- Load robot's macro with parameters -->
  <!-- set prefix if multiple robots are used -->
  <xacro:zoe2 prefix="$(arg prefix)"
    lock_front_yaw="$(arg lock_front_yaw)"  
    lock_front_roll="$(arg lock_front_roll)" 
    lock_back_yaw="$(arg lock_back_yaw)"
  />

  <xacro:zoe2_ros2_control
    name="zoe2"
    prefix="$(arg prefix)"
    use_mock_hardware="$(arg use_mock_hardware)"
    mock_sensor_commands="$(arg mock_sensor_commands)"
    sim_gazebo_classic="$(arg sim_gazebo_classic)"
    sim_gazebo="$(arg sim_gazebo)"
    simulation_controllers="$(arg simulation_controllers)" 
    lock_front_yaw="$(arg lock_front_yaw)" 
    lock_front_roll="$(arg lock_front_roll)"
    lock_back_yaw="$(arg lock_back_yaw)"
    />

</robot>
